@media (max-width: 1400px) {
  .cars-item__car {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .cars-item {
    padding: 5px;
  }
  .cars-item__img {
    height: 250px;
  }

  .cars-item__char {
    padding-left: 18px;
    font-size: 12px;
    background-size: 16px;
  }
}

@media (max-width: 768px) {
  .cars-item {
    padding: 16px;
  }
}
